h1 {
   color: #D40000;
   font-family: Calibri;
}
div {
   font-family: sans-serif;
}
figure {
   margin-bottom: 2rem;
   margin-left: 0;
   margin-right: 0;
}
div {
   margin-top: 9px;
}
figure {
   margin-top: 2rem;
}
video {
   max-height: 240px;
}
body {
   text-align: center;
}
